.menu {
    box-sizing: border-box;
    background-color: #0a2750;
    color: white;
    background-image: url("../images/background_menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 100px 0;
}
.menu__title {
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin: 0 auto 24px;
    max-width: 780px;
    text-align: center;
}
.menu__subtitle {
    font-family: "Noto-Serif", "Times New Roman", serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    max-width: 780px;
    text-align: center;
}
.menu__cards {
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    column-gap: 100px;
    row-gap: 100px;
}